{% extends 'globalat/base.html' %}

{% block content %}

    <h1>Histórico AT</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nome do Insumo</th>
                <th>Quantidade Retirada</th>
                <th>Quantidade Adicionada</th>  <!-- Adicione esta coluna -->
                <th>Data</th>
                <th>Usuário</th>
            </tr>
        </thead>
        <tbody>
            {% for historico in historico_estoqueat %}
            <tr>
                <td>{{ historico.nome }}</td>
                <td>{{ historico.retirada }}</td>
                <td>{{ historico.adicao }}</td>  <!-- Adicione esta linha -->
                <td>{{ historico.history_date }}</td>
                <td>{{ historico.history_user}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}