{% extends 'global/base.html' %}

{% block content %}

    <h1>Cadastro de Login</h1>
    <form method="post" action="{% url 'cadastro_login' %}">
        {% csrf_token %}
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password1">Senha:</label>
        <input type="password" id="password1" name="password1" required>
        <br>
        <label for="password2">Confirme sua senha:</label>
        <input type="password" id="password2" name="password2" required>
        <br>
        <button type="submit">Cadastrar</button>
    </form>

{% endblock content %}