{% extends 'global/base.html' %}
{% load static %}

{% block content %}
<h1>Histórico Ambiente Didático</h1>

<div style="display: flex; justify-content: space-between;">
    <div style="flex: 1; margin-right: 20px;">
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>Nome do Insumo</th>
                    <th>Quantidade Retirada</th>
                    <th>Quantidade Adicionada</th>  <!-- Adicione esta coluna -->
                    <th>Destino</th>
                    <th>Data</th>
                    <th>Usuário</th>
                </tr>
            </thead>
            <tbody>
                {% for historico in historico_estoque %}
                <tr>
                    <td>{{ historico.nome }}</td>
                    <td>{{ historico.retirada }}</td>
                    <td>{{ historico.adicao }}</td>  <!-- Adicione esta linha -->
                    <td>{{ historico.sala_laboratorio }}</td>
                    <td>{{ historico.history_date }}</td>
                    <td>{{ historico.history_user}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
