{% extends 'global/base.html' %}

{% block content %}

    <h1>Histórico de Retiradas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome do Insumo</th>
                <th>Quantidade Retirada</th>
                <th>Destino</th>
                <th>Data</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for historico in historico_estoque %}
            <tr>
                <td>{{ historico.id }}</td>
                <td>{{ historico.nome }}</td>
                <td>{{ historico.retirada }}</td>
                <td>{{ historico.sala_laboratorio }}</td>
                <td>{{ historico.history_date }}</td>
                <td>{{ historico.history_type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}