{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'polls/styles.css' %}">

    <title>INSUMOS</title>
</head>
<body>
    <h1 class='home'>Estoque dos ambientes didáticos</h1>
    <div id="outer">
        <a class="button_slide slide_down box" href='http://archlinux:3000/admin/'> FAZER LOGIN</a> 
        <br /> <br /><br />
        <a class="button_slide slide_down box" href='http://archlinux:3000/admin/'> ACESSAR PAINEL ADMIN</a> 
        <br /> <br /><br />
      </div>


      <form action="{% url 'buscar_item' %}" method="GET">
      <div class="container">
        <div class="buscador">
            <input type="text" name='q' placeholder="Buscar itens...">
            <button type="submit">Buscar</button>
        </div>
    </form>

    <div>
        <table class='table'>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th></th>
            </tr>
            {% for dado in dados %}
            <tr>
                <td>{{ dado.nome }}</td>
                <td>{{ dado.estoque }} </td>  
                <td ><span><a class="retirar" href='retirar.html'>RETIRAR</a></span></td>
            </tr>
            
            {% endfor %}
           
        </table>
    </div>

   

    


</body>
</html>