{% extends 'globalalmo/base.html' %}

{% block content %}
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<!-- DataTables JS -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<style>
    .modalRetirar, .modalAdicionar, .modalEditar {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        background-color: white;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
</style>

<script>
    function abrirModalEditar(id) {
        var isAuthenticated = "{{ user.is_authenticated }}";
        if (isAuthenticated === "True") {
            var modal = document.getElementById('modalEditar_' + id);
            modal.style.display = 'block';
        } else {
            alert("Você precisa estar logado para editar.");
        }
    }

    function fecharModalEditar(id) {
        var modal = document.getElementById('modalEditar_' + id);
        modal.style.display = 'none';
    }

    function salvarEdicao(id) {
    var formData = {
        nome: $("#modalEditar_" + id + " #nome").val(),
        endereco: $("#modalEditar_" + id + " #endereco").val(),
        estoque: $("#modalEditar_" + id + " #estoque").val(),
        categoria: $("#modalEditar_" + id + " #categoria").val(),
        csrfmiddlewaretoken: "{{ csrf_token }}"
    };

    $.post("/editar_estoquealmo/" + id + "/", formData, function(response) {
        alert("Item atualizado com sucesso!");
        location.reload();  // Recarrega a página para atualizar os dados
    }).fail(function() {
        alert("Ocorreu um erro ao salvar os dados.");
    });
}





    function abrirModalRetirar(id) {
        var isAuthenticated = "{{ user.is_authenticated }}";
        if (isAuthenticated === "True") {
            var modal = document.getElementById('modalRetirar_' + id);
            modal.style.display = 'block';
        } else {
            alert("Você precisa estar logado para editar.");
        }
    }

    function abrirModalAdicionar(id) {
        var isAuthenticated = "{{ user.is_authenticated }}";
        if (isAuthenticated === "True") {
            var modal = document.getElementById('modalAdicionar_' + id);
            modal.style.display = 'block';
        } else {
            alert("Você precisa estar logado para editar.");
        }
    }

    function fecharModalRetirar(id) {
        var modal = document.getElementById('modalRetirar_' + id);
        modal.style.display = 'none';
    }

    function fecharModalAdicionar(id) {
        var modal = document.getElementById('modalAdicionar_' + id);
        modal.style.display = 'none';
    }
</script>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<a href="{% url 'adicionar_item_almo' %}" class="btn btn-primary">Adicionar Novo Item</a>
<div class="responsive-table">
    <table  id="tabelaInsumos" class="contacts-table">
        <caption class="table-caption">
            Insumos
            {{ sala }}
        </caption>
        
        <thead>
            <tr class="table-row table-row-header">
                <th class="table-header">ID</th>
                <th class="table-header">Nome</th>
                <th class="table-header">Localização</th>
                <th class="table-header">Infra | TI</th>
                <th class="table-header">Quantidade</th>
                <th class="table-header">Opção</th>
            </tr>
        </thead>
        <tbody>
            {% for dadoalmo in dadosalmo %}
                <tr class="table-row">
                    <td class="table-cel">{{ dadoalmo.id }}</td>
                    <td class="table-cel">
                        <!-- Nome agora é clicável e abrirá o modal de edição -->
                        <a href="#" onclick="abrirModalEditar('{{ dadoalmo.id }}')">{{ dadoalmo.nome }}</a>
                    </td>
                    <td class="table-cel">{{ dadoalmo.endereco }}</td>
                    <td class="table-cel">{{ dadoalmo.categoria }}</td>
                    <td class="table-cel">{{ dadoalmo.estoque }}</td>
                    <td class="table-cel">
                       <a class="table-link" href="#" onclick="abrirModalRetirar('{{ dadoalmo.id }}')">| Retirar |</a>
                       <a class="table-link" href="#" onclick="abrirModalAdicionar('{{ dadoalmo.id }}')">| Adicionar |</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal para Editar -->
{% for dadoalmo in dadosalmo %}
    <div id="modalEditar_{{ dadoalmo.id }}" class="modalEditar">
        <div class="modal-content">
            <span class="close" onclick="fecharModalEditar('{{ dadoalmo.id }}')">&times;</span>
            <form method="POST" action="{% url 'editar_estoquealmo' dadoalmo.id %}">

                {% csrf_token %}
                <h3>Editar Item: {{ dadoalmo.nome }}</h3>

                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" value="{{ dadoalmo.nome }}" required>
                <br>

                <label for="endereco">Localização:</label>
                <input type="text" id="endereco" name="endereco" value="{{ dadoalmo.endereco }}" required>
                <br>

                <label for="estoque">Estoque:</label>
                <input type="number" id="estoque" name="estoque" value="{{ dadoalmo.estoque }}" required>
                <br>
                <label for="categoria">Categoria:</label>
                <select name="categoria" id="categoria" required>
                    <option value="INFRA" {% if dadoalmo.categoria == 'INFRA' %}selected{% endif %}>Infra</option>
                    <option value="TI" {% if dadoalmo.categoria == 'TI' %}selected{% endif %}>TI</option>
                </select>
                <br>

                <button type="button" onclick="salvarEdicao('{{ dadoalmo.id }}')">Salvar alterações</button>
            </form>
        </div>
    </div>
{% endfor %}

<!-- Modal para Retirar -->
{% for dadoalmo in dadosalmo %}
    <div id="modalRetirar_{{ dadoalmo.id }}" class="modalRetirar">
        <div class="modal-content">
            <span class="close" onclick="fecharModalRetirar('{{ dadoalmo.id }}')">&times;</span>
            <form method="POST" action="{% url 'editar_estoquealmo' dadoalmo.id %}">
                {% csrf_token %}
                <label for="retirada">Quantidade:</label>
                <input type="number" id="retirada" name="retirada">
                <br>

                <br>
                <button type="submit">Atualizar</button>
            </form>
        </div>
    </div>
{% endfor %}

<!-- Modal para Adicionar -->
{% for dadoalmo in dadosalmo %}
    <div id="modalAdicionar_{{ dadoalmo.id }}" class="modalRetirar">
        <div class="modal-content">
            <span class="close" onclick="fecharModalAdicionar('{{ dadoalmo.id }}')">&times;</span>
            <form method="POST" action="{% url 'adicionar_estoque_almo' dadoalmo.id %}">
                {% csrf_token %}
                <label for="quantidade">Quantidade a adicionar:</label>
                <input type="number" id="quantidade" name="quantidade">
                <br>
                <button type="submit">Adicionar</button>
            </form>
        </div>
    </div>
{% endfor %}

<footer class="footer">
    <a href="http://yurilealdacruz.github.io"><p>&copy; 2024 Yuri leal da cruz.</p></a>
</footer>

<script>
    $(document).ready(function() {
        $('#tabelaInsumos').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/Portuguese-Brasil.json'
            }
        });
    });
</script>

{% endblock content %}
